.gantt-head {
	border: solid thin;
}

.gantt-body {
	border: solid thin;
}

.gantt-button {
	text-align: left;
}

input.title {
	background-color: paleturquoise;
	border-style: none;
	margin: 2px;
}

/* テーブルセル */
td.title {
	font-weight: bold;
	background-color:paleturquoise;
}

td.sat {
	background-color: rgb(167, 221, 252);
}

td.sun {
	background-color: rgb(252, 167, 167);
}

.App {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-template-rows: 1fr 9fr;
	grid-template-areas:
		'title body'
		'title body';
}

#navigation {
	grid-area: title;
	background-color: white;
}

#gantt-main {
	grid-area: body;
	background-color: white;
}

div.export {
	cursor: pointer;
	padding-top: 1rem;
}

span.export {
	color: #000;
	padding: 0.5rem 1rem;
	border: 1px solid #000;
	border-radius: 3px;
}

span.export:hover {
	color: rgb(12, 90, 255);
	border: 1px solid rgb(12, 90, 255);
	border-radius: 3px;
}

.export-icon {
	padding-right: 0.5rem;
}
