.gantt-head {
	border: solid thin;
}

.gantt-body {
	border: solid thin;
}

.gantt-button {
	float: left;
}

input.title {
	background-color: paleturquoise;
	border-style: none;
	margin: 2px;
}

/* テーブルセル */
td.title {
	font-weight: bold;
	background-color:paleturquoise;
}

td.sat {
	background-color: rgb(167, 221, 252);
}

td.sun {
	background-color: rgb(252, 167, 167);
}

td.task {
	background-color: yellow;
}

.App {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-template-rows: 1fr 9fr;
	grid-template-areas:
		'title body'
		'title body';
}

#navigation {
	grid-area: title;
	background-color: white;
}

#gantt-main {
	grid-area: body;
	background-color: white;
}