.gantt-body {
	// border: solid thin;
}

.gantt-button {
	text-align: left;
}

input {
	&.title {
		background-color: paleturquoise;
		border-style: none;
		margin: 2px;
	}
}

td {

	/* テーブルセル */
	&.title {
		font-weight: bold;
		background-color: paleturquoise;
	}

	// 曜日毎の色
	&.sat {
		background-color: rgb(167, 221, 252);
	}

	&.sun {
		background-color: rgb(252, 167, 167);
	}
}

.App {
	grid-area: main;
	display: grid;
	grid-template-columns: 1.5fr 8.5fr;
	grid-template-rows: 1.5fr 8.5fr;
	grid-template-areas:
		'title body'
		'title body';
}

#navigation {
	grid-area: title;
	background-color: white;
}

#gantt-main {
	grid-area: body;
	background-color: white;
	overflow-x:auto;
}
