// 処理月検索プルダウン用

// react-datepickerを2つ並べると、1つ目のカレンダー表示時、2つめのプルダウンが改行される
// 全体をflex表示
#select-parent {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.search-datepicker {
    width: 5rem;
}

.validation-date {
    font-size: small;
    color: red;
}
